body { background:#FFFFFF; font-size:30; }
td {  font-size: 12px}
input, textarea {  font-size: 12px; border-width:1px;
	margin-left: 27px;
	margin-right: 0px;
}
select {  font-size: 12px; border-width:1px}

a:link, a:visited {  color: #000000;text-decoration:none}
a:hover {  color: #003399; text-decoration:underline }

a.highlight:link, a.highlight:visited { color:red; text-decoration:none }
a.highlight:hover { color:red; text-decoration:underline }

a.thisclass:link, a.thisclass:visited, a.thisclass:hover { font-weight:bold; text-decoration:none }

a.navlink:link, a.navlink:visited {color: #000000; text-decoration:none}
a.navlink:hover {color: #003399; text-decoration:none }

.twidth { width: 760px }
.content { font-size: 14px;font-family:宋体,Arial; line-height:140%; margin:5px 20px }
.content A:visited, .content A:link {color:blue; text-decoration:underline}
.content A:hover {color:red; }
.aTitle { font-size: 15px;font-weight:bold; }

.sitehead {  }
.sitehead-left {width:0px}
.sitehead-right {width:0px}
.footline {height:1px; background:#D7ECFF;}

.navbar { height:25px; background:url("title.gif"); text-align:center}
.navbar-left { display:none; width:10px; }
.navbar-right { display:none; width:10px;}

.navsub { background: #E8F4FF; height:23px;}	/*二级分类*/
.navsub-left { display:none; width:10px;}
.navsub-right { display:none; width:10px;  }


.lframe-t-mid { height:25px; background:url("title.gif"); text-align:left;}
.lframe-t-left {  width:1px; background:#ccccff;}
.lframe-t-right {  width:1px; background:#ccccff;}
.lframe-t-text { color:#000000; font-weight:bold; padding-left:10px;  width:100% }
.lframe-m-mid { background:#F2F8FF; padding:3px }
.lframe-m-left { width:1px; background:#ccccff; }
.lframe-m-right { width:1px; background:#ccccff; }
.lframe-b-mid {  border-top:1px solid #ccccff; height:13px; font-size:1px; }
.lframe-b-left { display:none; width:18px;  }
.lframe-b-right { display:none;  width:22px; }

.mframe-t-mid { height:25px; background:url("title.gif"); text-align:left;}
.mframe-t-left { display:none; width:8px; }
.mframe-t-right { display:none; width:33px; }
.mframe-t-text { color:#000000; font-weight:bold; padding-left:10px; width:100% }
.mframe-m-mid { background:#F2F8FF; padding:3px }
.mframe-m-left { width:0px; }
.mframe-m-right { width:0px; }
.mframe-b-mid { height:13px; font-size:1px; }
.mframe-b-left { display:none; width:18px; }
.mframe-b-right { display:none;  width:22px; }

.summary-title { background: #D7ECFF;font-weight:bold;height:23px }

.gray { color:gray; text-decoration:none }
.time { color:red }
.hit { color:green }

.tdBg { background: #f2f8ff ; line-height:120%}
.tdbg-dark {background: #E8F2FF; line-height:120%}
.tdbg-tree {background: #DEECFF; line-height:120%}

.hr { background:url("hr.gif"); height:2px }
.inputbg { background:url("inputbg.gif")}
.quote { margin:10px; margin-left:2em; border:1px solid #CCCCCC; padding:5px;  background: #FFFFFF; font-family:Verdana,Arial,宋体;  }


.menuskin {
	BORDER: #666666 1px solid; VISIBILITY: hidden; FONT: 12px Verdana;
	POSITION: absolute; BACKGROUND-COLOR:#F6F6F6;
	background-image:url("menubg.gif");
	text-align:left;
	}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; COLOR: black; TEXT-DECORATION: none; 
	}
.menuskin a:hover {text-decoration:none }
#mouseoverstyle {
	BACKGROUND-COLOR: #B6BDD2; margin:2px; padding:0px; border:#0A246A 1px solid;
	}
#mouseoverstyle A {
	COLOR: black
}

